<div class="container">
  <div>
    <h1 class="title">Login</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="inputLogin">Login</label>
        <input
          type="text"
          class="form-control"
          id="inputLogin"
          placeholder="login"
          formControlName="login"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          formControlName="password"
        />
      </div>
    </div>
    <div>
      <button
        *ngIf="!loading"
        type="submit"
        class="btn btn-primary pointer"
        [disabled]="loginForm.status === 'INVALID'"
      >
        Log in
      </button>
      <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </div>

    <span (click)="goToRegistration()" class="pointer link-span"
      >Go to registeration page</span
    >
  </form>
</div>
