<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" *ngFor="let title of titles">{{ title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of pageSlice">
      <td>{{ car[titles[0]] }}</td>
      <td>{{ car[titles[1]] }}</td>
      <td>{{ car[titles[2]] }}</td>
      <td>{{ car[titles[3]] }}</td>
      <td>{{ car[titles[4]] }}</td>
      <td>{{ car[titles[5]] }}</td>
    </tr>
  </tbody>
</table>

<mat-paginator
  [length]="this.carItems?.length"
  [pageSize]="3"
  [pageSizeOptions]="[3, 6, 9]"
  (page)="onPageChange($event)"
>
</mat-paginator>
